@using Spice.Common
@using Spice.Extensions
@model Spice.Models.Coupon

@{
    ViewData[Constant.Title] = Constant.Action_Delete;
    Layout = Constant.View_Layout;
}

<style>
    img{
        pointer-events: none
    }
</style>

<br />
<h2>Delete Coupon</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Picture" />
        <div class="form-group row">
            <div class="col-7">
                @{
                    var picture = string.Empty;
                    if (Model.Picture != null && Model.Picture.Length > 0)
                    {
                        picture = "data:image/png;base64," + Convert.ToBase64String(Model.Picture);
                    }
                }
                @if (!string.IsNullOrEmpty(picture))
                {
                    <img src="@picture" width="100%" />
                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CouponType" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CouponType" id="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" disabled class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Discount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Discount" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MinimumAmount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MinimumAmount" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="IsActive" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="IsActive" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-5 offset-2">
                <partial name="@Constant.PartialView_DeleteAndBackToListButtonPartial" model="@Model.Id" />
            </div>
        </div>
    </div>
</form>
