@using Spice.Common
@model Spice.Models.Category

@{
    ViewData[Constant.Title] = Constant.Delete;
    Layout = Constant.View_Layout;
}

<br />
<h2>Delete Category</h2>
<br />

<form method="post" asp-action="@Constant.Action_Delete">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-5 offset-2">
                <partial name="@Constant.PartialView_DeleteAndBackToListButtonPartial" model="@Model.Id" />
            </div>
        </div>
    </div>
</form>

