@using Spice.Common
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" value="@Constant.Create" />
    </div>
    <div class="col-6">
        <a asp-action="@Constant.Action_Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>